BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
IndentCaseLabels: true
AlwaysBreakAfterReturnType: All

# Braces
BreakBeforeBraces: Mozilla
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Line length
ColumnLimit: 80 

# Alignment
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true

# Parameters / arguments
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false
SpacesBeforeTrailingComments: 2

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"[^"]*\.h"'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3

# Comments
ReflowComments: true

# Misc
PointerAlignment: Left
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
